.user-profile {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;

  .input-default {
    width: 50%;
  }

  &-details {
    display: flex;
    flex-direction: column;
    padding: 0 64px;
    width: 85%;

    h2,
    p {
      font-family: $font-family-spartan;
    }

    h2 {
      text-transform: uppercase;
    }

    p {
      font-size: $font-size-bio;
    }

  }

  &-avatar {
    width: 25%;

    img {
      background-color: #fff;
      border: 1px solid #707070;
      border-radius: 50%;
      height: 150px;
      padding: 5px;
      width: 150px;
    }
  }

  @media only screen and (max-width: 768px) {
    flex-direction: column;

    &-avatar {
      width: auto;
    }

    &-details {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: auto;
    }
  }

}

.user-profile-extra {
  ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      list-style: none;
      padding: $eos-m;


      &:first-child {
        padding-left: 0;
      }

      span {
        font-weight: normal;
        width: 100%;
      }

      &.hidden {
        display: none;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    ul {
      flex-direction: column;

      li {
        &:first-child {
          padding-left: $eos-m;
        }
      }
    }
  }
}

.user-profile-settings {
  @extend .user-profile-extra;

  ul {
    flex-direction: column;
    width: 25%;

    li {
      padding: $eos-s 0;

      &:first-child {
        padding-left: 0;
      }
    }
  }
}
